<div class="navmenu">
    <div class="header">
        <h1>
            <NavLink href="">AirRoute</NavLink>
        </h1>
        <button class="togglenavbar" @onclick="ToggleNavMenu">
            <span class="oi" data-glyph="menu" title="oi-menu" aria-hidden="true"></span>
        </button>
    </div>
    <nav class="@Collapse">
        Link
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? Collapse => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
