.navmenu {
    user-select: none;
}

.header {
    padding: .5em;
    background: linear-gradient(654deg, #4100ff, #006bff);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

nav {
    color: white;
    display: none;
    padding: .5em;
    background: #303030;
}

.collapse {
    display: block;
}

.togglenavbar {
    width: 10vw;
    font-size: 100%;
}

    .togglenavbar:hover {
        cursor: pointer;
        color: grey;
    }
